<main class="app app-site">
    <!--[if lt IE 10]>
      <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->
    <!-- site header -->
    <!-- .navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-4" data-aos="fade-in">
        <!-- .container -->
        <div class="container">
            <!-- .hamburger -->
            <button class="hamburger hamburger-squeeze hamburger-light d-flex d-lg-none" type="button"
                data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                aria-expanded="false" aria-label="Toggle navigation"><span class="hamburger-box"><span
                        class="hamburger-inner"></span></span></button> <!-- /.hamburger -->
            <!-- .navbar-brand -->
            <a class="navbar-brand ml-auto mr-0" href="#">

                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="100" viewBox="0 0 1740 378.918">
                    <g transform="translate(-259.361 -186.488)">
                        <g transform="translate(259.361 429.678)">
                            <ellipse cx="8.533" cy="9.066" rx="8.533" ry="9.066" transform="translate(0 0)"
                                fill="#76b5ab" />
                        </g>
                        <g transform="translate(858.803 437.145)">
                            <circle cx="5.333" cy="5.333" r="5.333" transform="translate(0 0)" fill="#e6152d" />
                        </g>
                        <g transform="translate(611.347 186.488)">
                            <ellipse cx="9.066" cy="8.533" rx="9.066" ry="8.533" transform="translate(0 0)"
                                fill="#de547e" />
                        </g>
                        <g transform="translate(1520.11 186.488)">
                            <circle cx="8.533" cy="8.533" r="8.533" transform="translate(0 0)" fill="#fb902e" />
                        </g>
                        <g transform="translate(1975.558 328.349)">
                            <ellipse cx="8" cy="7.466" rx="8" ry="7.466" transform="translate(0 0)" fill="#db0d4a" />
                        </g>
                        <g transform="translate(1952.736 506.072)">
                            <circle cx="23.313" cy="23.313" r="23.313" fill="#5ebdcb" />
                        </g>
                        <g transform="translate(306.182 226.05)">
                            <g transform="translate(0 3.004)">
                                <path
                                    d="M405.449,342.045c1.492-.5,2.737-1.242,4.229-1.739a58.918,58.918,0,0,0,26.119-23.59c5.97-10.182,8.956-22.349,8.956-36.255s-2.986-25.825-8.707-36.255-14.428-18.624-25.87-24.335-25.621-8.691-42.289-8.691H286.545V427.965h39.3V348.5H365.9l42.786,79.465h43.779Zm-43.284-26.074H325.848V243.956h36.069c9.7,0,17.911,1.49,24.129,4.222,6.218,2.981,10.945,6.952,13.93,12.416s4.478,11.92,4.478,19.617-1.494,14.155-4.478,19.37-7.712,9.187-13.93,11.919Q376.719,315.971,362.166,315.971Z"
                                    transform="translate(-286.545 -211.179)" fill="#0e1a2f" />
                                <g transform="translate(194.276)">
                                    <path
                                        d="M399.048,427.965V211.179H540.339v33.026H438.351v58.6h94.526v33.028H438.351v59.1H541.087v33.028Z"
                                        transform="translate(-399.048 -211.179)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(375.618)">
                                    <path
                                        d="M504.061,427.965V211.179H643.114v33.026h-99.75v58.6h90.048v33.028h-90.3v92.128Z"
                                        transform="translate(-504.061 -211.179)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(550.242)">
                                    <path
                                        d="M605.184,427.965V211.179H746.475v33.026H644.487v58.6h94.526v33.028H644.487v59.1H747.221v33.028Z"
                                        transform="translate(-605.184 -211.179)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(1102.225)">
                                    <path
                                        d="M924.831,427.965V211.179h141.3v33.026H964.134v58.6h94.535v33.028H964.134v59.1h102.737v33.028Z"
                                        transform="translate(-924.831 -211.179)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(1283.569)">
                                    <path
                                        d="M1103.478,427.965h-73.633V211.179h75.118c21.637,0,40.046,4.22,55.726,12.912a89.336,89.336,0,0,1,35.815,37.248c8.462,16.143,12.434,35.511,12.434,58.109s-4.214,41.966-12.434,58.107a86.959,86.959,0,0,1-36.057,37.248C1144.266,423.494,1125.357,427.965,1103.478,427.965Zm-34.33-34.021h32.344c15.162,0,27.595-2.732,37.8-8.194s17.666-13.906,22.881-24.834c4.973-10.926,7.719-24.832,7.719-41.469s-2.487-30.3-7.719-41.222a51.871,51.871,0,0,0-22.639-24.583c-9.947-5.464-22.138-8.2-37.058-8.2h-33.587v148.5Z"
                                        transform="translate(-1029.845 -211.179)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(1479.083)">
                                    <path
                                        d="M1188.844,211.179l47.748,79.463h1.744l48.007-79.463h44.777L1264.2,319.447l67.917,108.268H1286.6L1238.335,349h-1.744l-48.248,78.719h-45.278l68.66-108.268-67.917-108.268Z"
                                        transform="translate(-1143.065 -211.179)" fill="#0e1a2f" />
                                </g>
                            </g>
                            <g transform="translate(729.096)">
                                <g transform="translate(0 142.064)">
                                    <path
                                        d="M708.756,291.707l41.541,29.55c0,2.236-.249,4.471-.5,6.954-13.682-.249-27.113-.5-40.8-.5,0-.744-.249-1.242-.249-1.986Z"
                                        transform="translate(-708.756 -291.707)" fill="#eac83a" />
                                </g>
                                <g transform="translate(58.706 183.534)">
                                    <path
                                        d="M793.249,351.48c-2.24,0-4.478-.249-6.469-.249a43.712,43.712,0,0,1-14.676-3.476c-14.925-6.208-24.875-16.885-29.351-32.033Z"
                                        transform="translate(-742.752 -315.722)" fill="#eac83a" />
                                </g>
                                <g transform="translate(0 57.883)">
                                    <path
                                        d="M751.043,275.241c0,4.22,0,8.443-.249,12.665-.746,22.349-.249,44.945-.5,67.294v1.243l-41.541-29.3V304.791q0-23.1.746-46.188a81.672,81.672,0,0,1,2.24-15.644Z"
                                        transform="translate(-708.756 -242.959)" fill="#fa9241" />
                                </g>
                                <g transform="translate(56.403 122.942)">
                                    <path
                                        d="M881.78,374.5a65.43,65.43,0,0,1-17.165,2.981h-60.7c-3.234,0-6.467,0-9.7-.249l-50.5-35.758a20.807,20.807,0,0,1-1-3.725,46.437,46.437,0,0,1-1.243-13.162,50.508,50.508,0,0,1,5.97-20.61,69.318,69.318,0,0,1,12.19-15.894c2.487-2.483,4.975-4.966,7.71-7.45l32.587,26.82q-10.073,10.055-20.149,20.114c-2.737,2.732-5.721,5.462-8.956,8.443h1.991c9.95,0,35.571.249,62.436.249Z"
                                        transform="translate(-741.418 -280.634)" fill="#fa9241" />
                                </g>
                                <g transform="translate(2.984 0.296)">
                                    <path
                                        d="M863.965,293.521a68.3,68.3,0,0,1-7.959,26.818A80.6,80.6,0,0,1,840.832,340.7c-6.22,6.208-12.439,12.167-18.657,18.375l-32.587-26.82c1.991-1.986,3.98-3.972,6.22-5.959,5.224-4.966,10.447-10.182,15.671-15.148,7.71-7.2,11.193-16.141,11.193-26.569a36.407,36.407,0,0,0-24.627-33.523,36.115,36.115,0,0,0-45.522,20.859,37.166,37.166,0,0,0-2.737,13.658V299.48l-39.3-32.282a79.481,79.481,0,0,1,4.478-12.913,74.552,74.552,0,0,1,16.17-23.093,72.434,72.434,0,0,1,29.6-17.88c2.979-.85,5.968-1.679,9.005-2.293a91.486,91.486,0,0,1,18.25-1.407c.126,0,.25,0,.375,0,2.24.014,4.476.076,6.7.281a77.667,77.667,0,0,1,17.262,3.613q1.829.6,3.628,1.3c.746.249,1.741.744,2.487.993l45.77,73.5A24.061,24.061,0,0,1,863.965,293.521Z"
                                        transform="translate(-710.484 -209.611)" fill="#76b5ab" />
                                </g>
                                <g transform="translate(149.998 135.607)">
                                    <path
                                        d="M872.235,344.089a54.191,54.191,0,0,1-29.85,25.081l-46.767-38.49h22.14a19.518,19.518,0,0,0,19.651-19.617V287.968Z"
                                        transform="translate(-795.618 -287.968)" fill="#76b5ab" />
                                </g>
                                <g transform="translate(111.192 6.48)">
                                    <path
                                        d="M817.922,270.057a74.85,74.85,0,0,1,.995,16.638l-45.77-73.5A77.356,77.356,0,0,1,811.7,249.943,94.3,94.3,0,0,1,817.922,270.057Z"
                                        transform="translate(-773.146 -213.192)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(191.788 43.231)">
                                    <path
                                        d="M861.858,295.066c-.5,11.67-.5,37.992-.746,62.825a52.929,52.929,0,0,1-6.469,25.081L819.818,327.1V310.958c0-15.4,0-30.792.748-46.188a77.391,77.391,0,0,1,6.716-28.806q.373-.743.746-1.49Z"
                                        transform="translate(-819.818 -234.474)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(247.944 143.057)">
                                    <path
                                        d="M902.649,368.517c-1.243,0-2.737-.249-4.229-.249a41,41,0,0,1-14.428-3.476c-16.169-6.705-26.367-18.624-30.348-35.758a46.431,46.431,0,0,1-1.243-13.162,50.486,50.486,0,0,1,5.97-20.61c.5-.993,1.243-1.988,1.741-2.981Z"
                                        transform="translate(-852.337 -292.282)" fill="#0e1a2f" />
                                </g>
                                <g transform="translate(199.748)">
                                    <path
                                        d="M971.69,427.49l-48.756,1.242L880.4,352.745a74.232,74.232,0,0,1,10.447-12.913c4.478-4.469,9.2-8.938,13.68-13.409,5.225-4.966,10.449-10.182,15.673-15.148,7.711-7.2,11.194-16.141,11.194-26.569a36.407,36.407,0,0,0-24.627-33.523,36.115,36.115,0,0,0-45.522,20.859,37.132,37.132,0,0,0-2.737,13.658c0,8.94.249,17.631-.249,26.571v.993L824.428,252.67a74.5,74.5,0,0,1,15.423-21.6,72.457,72.457,0,0,1,29.6-17.88c5.224-1.49,10.7-2.979,16.17-3.228,2.984,0,5.97-.5,8.954-.5a77.706,77.706,0,0,1,30.1,5.215,64.278,64.278,0,0,1,10.945,5.464l19.652,113.731a48.379,48.379,0,0,1-5.971,6.457c-12.934,12.665-25.87,25.576-38.8,38.49-2.737,2.732-5.723,5.464-8.956,8.443h1.99c20.4.249,40.8.5,61.194.5Z"
                                        transform="translate(-824.428 -209.439)" fill="#4dadcd" />
                                </g>
                                <g transform="translate(340.544 178.816)">
                                    <path
                                        d="M912.925,314.232c0,2.483,0,5.213-.249,7.7v30.3l-6.716-39.234h5.97A1.747,1.747,0,0,1,912.925,314.232Z"
                                        transform="translate(-905.961 -312.99)" fill="#624091" />
                                </g>
                                <g transform="translate(311.189 11.198)">
                                    <path
                                        d="M926.276,280.488c0,2.732-.249,5.712-.5,8.444a77.737,77.737,0,0,1-7.961,26.818,74.891,74.891,0,0,1-9.2,13.906L888.962,215.924a81.282,81.282,0,0,1,8.956,6.208,75.811,75.811,0,0,1,20.895,26.074,82.534,82.534,0,0,1,6.469,20.114A65.186,65.186,0,0,1,926.276,280.488Z"
                                        transform="translate(-888.962 -215.924)" fill="#624091" />
                                </g>
                            </g>
                        </g>
                        <g transform="translate(341.591 507.248)">
                            <path
                                d="M316.722,380.512V392.6h16.231v7.667H316.722v12.779h18.3v7.874H307.05V372.638h27.975v7.874Z"
                                transform="translate(-307.05 -372.016)" fill="#da104b" />
                            <path
                                d="M381.777,372.678v48.214H372.1V389.53L359.19,420.892h-7.324L338.882,389.53v31.361H329.21V372.678h10.984l15.333,35.848,15.334-35.848Z"
                                transform="translate(-290.943 -371.987)" fill="#da104b" />
                            <path
                                d="M399.377,394.849a13.45,13.45,0,0,1-5.731,5.459,20.887,20.887,0,0,1-9.845,2.07h-8.08v18.514h-9.672V372.678H383.8a21.444,21.444,0,0,1,9.532,1.934,13.484,13.484,0,0,1,5.908,5.317,15.608,15.608,0,0,1,.136,14.92Zm-10.049-2.1a6.75,6.75,0,0,0,1.934-5.146q0-7.045-7.876-7.045h-7.665v14.02h7.665Q387.394,394.573,389.329,392.744Z"
                                transform="translate(-264.166 -371.987)" fill="#da104b" />
                            <path
                                d="M402.183,418.489a23.714,23.714,0,0,1-8.978-8.809,26.015,26.015,0,0,1,0-25.418,23.709,23.709,0,0,1,8.978-8.807,25.986,25.986,0,0,1,24.9,0A23.529,23.529,0,0,1,436,384.262a26.253,26.253,0,0,1,0,25.418,23.459,23.459,0,0,1-8.945,8.809,25.927,25.927,0,0,1-24.867,0Zm20.1-7.425a13.493,13.493,0,0,0,5.181-5.631,18.488,18.488,0,0,0,1.865-8.494,18.279,18.279,0,0,0-1.865-8.462,13.319,13.319,0,0,0-5.181-5.562,14.953,14.953,0,0,0-7.669-1.932,15.138,15.138,0,0,0-7.7,1.932,13.23,13.23,0,0,0-5.213,5.562,18.236,18.236,0,0,0-1.865,8.462,18.445,18.445,0,0,0,1.865,8.494,13.4,13.4,0,0,0,5.213,5.631,14.935,14.935,0,0,0,7.7,1.967A14.753,14.753,0,0,0,422.286,411.063Z"
                                transform="translate(-246.838 -372.278)" fill="#da104b" />
                            <path
                                d="M489.342,372.678l-13.469,48.214h-11.4l-9.047-34.33-9.463,34.33-11.328.069-12.986-48.283H432.01l8.5,37.436,9.809-37.436H461.09l9.256,37.231,8.565-37.231Z"
                                transform="translate(-223.753 -371.987)" fill="#da104b" />
                            <path
                                d="M475.039,380.512V392.6H491.27v7.667H475.039v12.779h18.3v7.874H465.367V372.638h27.977v7.874Z"
                                transform="translate(-191.977 -372.016)" fill="#da104b" />
                            <path
                                d="M512.395,420.892,501.757,402.1H497.2v18.788h-9.67V372.678h18.1a21.133,21.133,0,0,1,9.532,1.969,13.753,13.753,0,0,1,5.906,5.317,14.525,14.525,0,0,1,1.969,7.5,14.363,14.363,0,0,1-2.763,8.6,14.2,14.2,0,0,1-8.22,5.284l11.534,19.548Zm-15.2-26.043h8.082q3.935,0,5.871-1.9a7.071,7.071,0,0,0,1.932-5.284,6.751,6.751,0,0,0-1.932-5.146q-1.935-1.829-5.871-1.829H497.2Z"
                                transform="translate(-175.869 -371.987)" fill="#da104b" />
                            <path d="M523.719,372.678v48.214h-9.672V372.678Z" transform="translate(-156.594 -371.987)"
                                fill="#da104b" />
                            <path
                                d="M567.284,420.921h-9.67l-21.895-33.088v33.088h-9.672V372.638h9.672l21.895,33.156V372.638h9.67Z"
                                transform="translate(-147.872 -372.016)" fill="#da104b" />
                            <path
                                d="M590.885,387.445a11.339,11.339,0,0,0-4.561-4.63,13.9,13.9,0,0,0-6.769-1.589,14.785,14.785,0,0,0-7.6,1.936,13.369,13.369,0,0,0-5.181,5.526,19.5,19.5,0,0,0,.033,16.714,13.427,13.427,0,0,0,5.286,5.528,15.6,15.6,0,0,0,7.874,1.934,13.67,13.67,0,0,0,9.049-2.936,14,14,0,0,0,4.626-8.187H577.071v-7.389h26.11v8.425a22.661,22.661,0,0,1-4.144,9.325,23.393,23.393,0,0,1-8.187,6.875,24.06,24.06,0,0,1-11.225,2.59,25.393,25.393,0,0,1-12.6-3.145,22.849,22.849,0,0,1-8.843-8.738,26.829,26.829,0,0,1,0-25.452,22.8,22.8,0,0,1,8.843-8.772,26.918,26.918,0,0,1,26.7.829A20.273,20.273,0,0,1,602,387.445Z"
                                transform="translate(-126.851 -372.249)" fill="#da104b" />
                            <path
                                d="M623.194,420.892,612.557,402.1H608v18.788h-9.672V372.678h18.1a21.12,21.12,0,0,1,9.53,1.969,13.734,13.734,0,0,1,5.906,5.317,14.509,14.509,0,0,1,1.97,7.5,14.353,14.353,0,0,1-2.765,8.6,14.191,14.191,0,0,1-8.218,5.284l11.534,19.548ZM608,394.849h8.082q3.935,0,5.871-1.9a7.071,7.071,0,0,0,1.932-5.284,6.752,6.752,0,0,0-1.932-5.146q-1.935-1.829-5.871-1.829H608Z"
                                transform="translate(-95.335 -371.987)" fill="#da104b" />
                            <path
                                d="M634.518,380.512V392.6h16.231v7.667H634.518v12.779h18.3v7.874H624.846V372.638h27.975v7.874Z"
                                transform="translate(-76.059 -372.016)" fill="#da104b" />
                            <path d="M676.777,372.678v7.805h-20.1v12.363h15.4v7.669h-15.4v20.377h-9.672V372.678Z"
                                transform="translate(-59.952 -371.987)" fill="#da104b" />
                            <path
                                d="M678.757,380.512V392.6h16.231v7.667H678.757v12.779h18.3v7.874H669.085V372.638H697.06v7.874Z"
                                transform="translate(-43.904 -372.016)" fill="#da104b" />
                            <path
                                d="M716.113,420.892,705.476,402.1h-4.559v18.788h-9.672V372.678h18.1a21.12,21.12,0,0,1,9.531,1.969,13.733,13.733,0,0,1,5.906,5.317,14.509,14.509,0,0,1,1.97,7.5,14.353,14.353,0,0,1-2.765,8.6,14.19,14.19,0,0,1-8.218,5.284L727.3,420.892Zm-15.2-26.043H709q3.935,0,5.871-1.9a7.071,7.071,0,0,0,1.932-5.284,6.751,6.751,0,0,0-1.932-5.146q-1.935-1.829-5.871-1.829h-8.082Z"
                                transform="translate(-27.797 -371.987)" fill="#da104b" />
                            <path
                                d="M742.632,420.892,731.994,402.1h-4.559v18.788h-9.67V372.678h18.1a21.128,21.128,0,0,1,9.532,1.969,13.754,13.754,0,0,1,5.906,5.317,14.508,14.508,0,0,1,1.969,7.5,14.362,14.362,0,0,1-2.763,8.6,14.194,14.194,0,0,1-8.22,5.284l11.535,19.548Zm-15.2-26.043h8.082q3.937,0,5.873-1.9a7.071,7.071,0,0,0,1.932-5.284,6.751,6.751,0,0,0-1.932-5.146q-1.937-1.829-5.873-1.829h-8.082Z"
                                transform="translate(-8.521 -371.987)" fill="#da104b" />
                            <path
                                d="M775.1,411.734h-19.2l-3.176,9.187H742.565L759.9,372.638H771.16L788.5,420.921H778.275ZM772.474,404l-6.977-20.17L758.521,404Z"
                                transform="translate(9.505 -372.016)" fill="#da104b" />
                            <path d="M783.476,413.224h15.885v7.667H773.8V372.678h9.672Z"
                                transform="translate(32.211 -371.987)" fill="#da104b" />
                            <path
                                d="M801.131,419.937a14.884,14.884,0,0,1-6.388-4.973,13.085,13.085,0,0,1-2.419-7.665h10.361a6.709,6.709,0,0,0,2.107,4.7,7.473,7.473,0,0,0,5.217,1.727,8.036,8.036,0,0,0,5.319-1.623,5.283,5.283,0,0,0,1.934-4.25,4.906,4.906,0,0,0-1.314-3.521,9.225,9.225,0,0,0-3.279-2.176,54.7,54.7,0,0,0-5.424-1.761,58.311,58.311,0,0,1-7.633-2.73,13.369,13.369,0,0,1-5.042-4.074,11.621,11.621,0,0,1-2.105-7.289,13.025,13.025,0,0,1,2.141-7.458,13.614,13.614,0,0,1,6.008-4.87,21.842,21.842,0,0,1,8.841-1.692q7.46,0,12.124,3.625a13.445,13.445,0,0,1,5.144,10.121H816.086a5.527,5.527,0,0,0-2.107-4.112,7.938,7.938,0,0,0-5.215-1.623,6.705,6.705,0,0,0-4.523,1.452,5.241,5.241,0,0,0-1.694,4.214,4.349,4.349,0,0,0,1.28,3.212A9.758,9.758,0,0,0,807,391.239q1.9.793,5.353,1.83a56.39,56.39,0,0,1,7.667,2.761,13.779,13.779,0,0,1,5.111,4.146,11.509,11.509,0,0,1,2.143,7.251,13.656,13.656,0,0,1-2,7.185A14.181,14.181,0,0,1,819.4,419.7a20.041,20.041,0,0,1-9.185,1.967A22.9,22.9,0,0,1,801.131,419.937Z"
                                transform="translate(45.672 -372.278)" fill="#da104b" />
                            <path d="M830.424,394.718l-8.082,19.408h-6.218l4.492-19.408Z"
                                transform="translate(62.972 -355.967)" fill="#da104b" />
                            <path
                                d="M849.394,380.512V392.6h16.232v7.667H849.394v12.779h18.3v7.874H839.724V372.638H867.7v7.874Z"
                                transform="translate(80.125 -372.016)" fill="#da104b" />
                            <path
                                d="M903.121,420.921h-9.67l-21.895-33.088v33.088h-9.672V372.638h9.672l21.895,33.156V372.638h9.67Z"
                                transform="translate(96.232 -372.016)" fill="#da104b" />
                            <path
                                d="M922.976,411.734h-19.2l-3.177,9.187H890.444l17.338-48.283h11.257l17.338,48.283H926.154ZM920.353,404l-6.976-20.17L906.4,404Z"
                                transform="translate(116.991 -372.016)" fill="#da104b" />
                            <path
                                d="M955.738,400.239a11.912,11.912,0,0,1,2.623,7.6,12.239,12.239,0,0,1-1.9,6.8,12.66,12.66,0,0,1-5.491,4.6,20.122,20.122,0,0,1-8.5,1.658H921.683V372.678h19.893a20.612,20.612,0,0,1,8.462,1.589,12.044,12.044,0,0,1,5.388,4.421,11.58,11.58,0,0,1,1.83,6.422,10.989,10.989,0,0,1-2.245,7.046,12,12,0,0,1-5.975,4.008A10.839,10.839,0,0,1,955.738,400.239Zm-24.385-7.667H940.2a8.1,8.1,0,0,0,5.317-1.554,5.472,5.472,0,0,0,1.865-4.455,5.574,5.574,0,0,0-1.865-4.49,7.962,7.962,0,0,0-5.317-1.589h-8.843Zm15.231,18.788a5.8,5.8,0,0,0,1.969-4.7,6.048,6.048,0,0,0-2.072-4.868,8.347,8.347,0,0,0-5.6-1.763h-9.532v12.988h9.739A8.276,8.276,0,0,0,946.584,411.359Z"
                                transform="translate(139.697 -371.987)" fill="#da104b" />
                            <path d="M957.954,413.224h15.885v7.667H948.282V372.678h9.672Z"
                                transform="translate(159.031 -371.987)" fill="#da104b" />
                            <path d="M977.193,372.678v48.214h-9.671V372.678Z" transform="translate(173.015 -371.987)"
                                fill="#da104b" />
                            <path
                                d="M1020.759,420.921h-9.67l-21.9-33.088v33.088h-9.67V372.638h9.67l21.9,33.156V372.638h9.67Z"
                                transform="translate(181.738 -372.016)" fill="#da104b" />
                            <path
                                d="M1044.359,387.445a11.324,11.324,0,0,0-4.559-4.63,13.9,13.9,0,0,0-6.769-1.589,14.8,14.8,0,0,0-7.6,1.936,13.368,13.368,0,0,0-5.181,5.526,19.493,19.493,0,0,0,.035,16.714,13.416,13.416,0,0,0,5.286,5.528,15.593,15.593,0,0,0,7.873,1.934,13.663,13.663,0,0,0,9.049-2.936,14.005,14.005,0,0,0,4.628-8.187h-16.578v-7.389h26.112v8.425a22.649,22.649,0,0,1-4.146,9.325,23.375,23.375,0,0,1-8.186,6.875,24.068,24.068,0,0,1-11.224,2.59,25.4,25.4,0,0,1-12.606-3.145,22.832,22.832,0,0,1-8.841-8.738,26.829,26.829,0,0,1,0-25.452,22.781,22.781,0,0,1,8.841-8.772,26.921,26.921,0,0,1,26.7.829,20.282,20.282,0,0,1,8.289,11.155Z"
                                transform="translate(202.758 -372.249)" fill="#da104b" />
                            <path
                                d="M1086.359,387.445a11.324,11.324,0,0,0-4.559-4.63,13.9,13.9,0,0,0-6.769-1.589,14.8,14.8,0,0,0-7.6,1.936,13.369,13.369,0,0,0-5.18,5.526,19.495,19.495,0,0,0,.035,16.714,13.416,13.416,0,0,0,5.286,5.528,15.593,15.593,0,0,0,7.873,1.934,13.663,13.663,0,0,0,9.049-2.936,14.007,14.007,0,0,0,4.628-8.187h-16.578v-7.389h26.112v8.425a22.649,22.649,0,0,1-4.146,9.325,23.375,23.375,0,0,1-8.186,6.875,24.07,24.07,0,0,1-11.224,2.59,25.4,25.4,0,0,1-12.606-3.145,22.832,22.832,0,0,1-8.842-8.738,26.829,26.829,0,0,1,0-25.452,22.78,22.78,0,0,1,8.842-8.772,26.921,26.921,0,0,1,26.7.829,20.281,20.281,0,0,1,8.289,11.155Z"
                                transform="translate(233.286 -372.249)" fill="#da104b" />
                            <path
                                d="M1108.268,420.892,1097.63,402.1h-4.559v18.788h-9.67V372.678h18.1a21.131,21.131,0,0,1,9.532,1.969,13.753,13.753,0,0,1,5.906,5.317,14.524,14.524,0,0,1,1.969,7.5,14.363,14.363,0,0,1-2.763,8.6,14.2,14.2,0,0,1-8.22,5.284l11.535,19.548Zm-15.2-26.043h8.082q3.935,0,5.871-1.9a7.07,7.07,0,0,0,1.932-5.284,6.751,6.751,0,0,0-1.932-5.146q-1.935-1.829-5.871-1.829h-8.082Z"
                                transform="translate(257.242 -371.987)" fill="#da104b" />
                            <path
                                d="M1120.855,418.489a23.7,23.7,0,0,1-8.978-8.809,26.015,26.015,0,0,1,0-25.418,23.7,23.7,0,0,1,8.978-8.807,25.985,25.985,0,0,1,24.9,0,23.539,23.539,0,0,1,8.909,8.807,26.253,26.253,0,0,1,0,25.418,23.47,23.47,0,0,1-8.945,8.809,25.926,25.926,0,0,1-24.866,0Zm20.1-7.425a13.5,13.5,0,0,0,5.181-5.631,18.487,18.487,0,0,0,1.865-8.494,18.278,18.278,0,0,0-1.865-8.462,13.321,13.321,0,0,0-5.181-5.562,14.953,14.953,0,0,0-7.669-1.932,15.133,15.133,0,0,0-7.7,1.932,13.229,13.229,0,0,0-5.214,5.562,18.24,18.24,0,0,0-1.865,8.462,18.448,18.448,0,0,0,1.865,8.494,13.4,13.4,0,0,0,5.214,5.631,14.93,14.93,0,0,0,7.7,1.967A14.753,14.753,0,0,0,1140.957,411.063Z"
                                transform="translate(275.53 -372.278)" fill="#da104b" />
                            <path
                                d="M1208.013,372.678l-13.469,48.214h-11.4l-9.047-34.33-9.463,34.33-11.328.069-12.986-48.283h10.361l8.494,37.436,9.81-37.436h10.774l9.258,37.231,8.565-37.231Z"
                                transform="translate(298.614 -371.987)" fill="#da104b" />
                            <path d="M1217.924,372.678v7.805h-12.846v40.408h-9.672V380.483H1182.56v-7.805Z"
                                transform="translate(329.316 -371.987)" fill="#da104b" />
                            <path
                                d="M1247.993,372.678v48.214h-9.669V400.377h-20.653v20.515H1208V372.678h9.672V392.5h20.653V372.678Z"
                                transform="translate(347.807 -371.987)" fill="#da104b" />
                        </g>
                    </g>
                </svg>
            </a> <!-- /.navbar-brand -->
            <a class="navbar-btn btn btn-subtle-primary ml-auto order-lg-2" [routerLink]="['/signup']">Signup</a>
            <!-- .navbar-collapse -->
            <div class="navbar-collapse collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mr-lg-3 active">
                        <a class="nav-link py-2" href="#">Home</a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link py-2" href="#">Features</a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link py-2" href="#">Pricing</a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link py-2" href="#">Contact</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <!-- /site header -->
    <!-- hero -->
    <section class="py-5">
        <!-- .container -->
        <div class="container container-fluid-xl">
            <!-- .row -->
            <div class="row align-items-center">
                <!-- .col-md-6 -->
                <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">
                    <img class="img-fluid img-float-md-6 mb-5 mb-md-0" src="../../assets/images/illustration/launch.svg"
                        alt="">
                </div><!-- /.col-md-6 -->
                <!-- .col-md-6 -->
                <div class="col-12 col-md-6 order-md-1" data-aos="fade-in">
                    <div class="col-fix pl-xl-3 ml-auto text-center text-sm-left">
                        <h1 class="display-4 enable-responsive-font-size mb-4"> Empower Referrals, Elevate Careers:
                            Unleashing Opportunities for Professional Growth
                        </h1>
                        <p class="lead text-muted mb-5"> Referredx – Where Connections Shape Careers! Empower your
                            journey through referrals, unlocking boundless opportunities for professional growth. </p>
                        <a [routerLink]="['/login']"
                            class="btn btn-lg btn-primary d-block d-sm-inline-block mr-sm-2 my-3" data-aos="zoom-in"
                            data-aos-delay="200">Login <i class="fa fa-angle-right ml-2"></i></a> <a
                            class="btn btn-lg btn-subtle-primary d-block d-sm-inline-block my-3"
                            [routerLink]="['/recruit']" data-aos="zoom-in" data-aos-delay="300">Hire Now</a>
                    </div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /hero -->
    <!-- .feature -->
    <section class="py-5">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row text-center text-md-left">
                <!-- .col -->
                <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="0">
                    <img class="mb-4" src="../../assets/images/illustration/lab.svg" alt="" height="72">
                    <h2 class="lead"> SeamleEasss Referral Posting </h2>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="100">
                    <img class="mb-4" src="../../assets/images/illustration/easy-config.svg" alt="" height="72">
                    <h2 class="lead"> Effortless Application </h2>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="200">
                    <img class="mb-4" src="../../assets/images/illustration/scale.svg" alt="" height="72">
                    <h2 class="lead"> Scalable Opportunities </h2>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="300">
                    <img class="mb-4" src="../../assets/images/illustration/support.svg" alt="" height="72">
                    <h2 class="lead"> Responsive Support </h2>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.feature -->

    <!-- feature -->
    <section class="position-relative pb-5 bg-light">
        <!-- .sticker -->
        <div class="sticker">
            <div class="sticker-item sticker-top-right sticker-soften">
                <img src="../../assets/images/decoration/cubes.svg" alt="" data-aos="zoom-in">
            </div>
            <div class="sticker-item sticker-bottom-left sticker-soften scale-150">
                <img src="../../assets/images/decoration/cubes.svg" alt="" data-aos="zoom-in">
            </div>
        </div><!-- /.sticker -->
        <!-- .container -->
        <div class="container position-relative">
            <h2 class="text-center text-sm-left"> Get more benefits </h2>
            <p class="lead text-muted text-center text-sm-left mb-5"> Scaffold your theme and start developing quickly.
            </p>
            <!-- .card-deck -->
            <div class="card-deck-lg">
                <!-- .card -->
                <div class="card shadow" data-aos="fade-up" data-aos-delay="0">
                    <!-- .card-body -->
                    <div class="card-body p-4">
                        <div class="d-sm-flex align-items-start text-center text-sm-left">
                            <img src="../../assets/images/illustration/rocket.svg" class="mr-sm-4 mb-3 mb-sm-0" alt=""
                                width="72">
                            <div class="flex-fill">
                                <h5 class="mt-0"> Instant Platform Access </h5>
                                <p class="text-muted font-size-lg"> Experience a ready-to-use platform that offers
                                    instant access for employees to post job referrals and for job seekers to apply
                                    seamlessly. Referredx is designed for immediate use, ensuring a quick start to the
                                    job referral process. </p>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
                <!-- .card -->
                <div class="card shadow" data-aos="fade-up" data-aos-delay="100">
                    <!-- .card-body -->
                    <div class="card-body p-4">
                        <div class="d-sm-flex align-items-start text-center text-sm-left">
                            <img src="../../assets/images/illustration/setting.svg" class="mr-sm-4 mb-3 mb-sm-0" alt=""
                                width="72">
                            <div class="flex-fill">
                                <h5 class="mt-0"> Streamlined Referral System </h5>
                                <p class="text-muted font-size-lg"> Experience a highly functional referral system
                                    designed to streamline the process. Referredx offers an efficient platform for
                                    employees to seamlessly refer job openings within their companies, ensuring a
                                    straightforward and effective referral process for potential candidates.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
            </div><!-- /.card-deck -->
            <!-- .card-deck -->
            <div class="card-deck-lg">
                <!-- .card -->
                <div class="card shadow" data-aos="fade-up" data-aos-delay="200">
                    <!-- .card-body -->
                    <div class="card-body p-4">
                        <div class="d-sm-flex align-items-start text-center text-sm-left">
                            <img src="../../assets/images/illustration/brain.svg" class="mr-sm-4 mb-3 mb-sm-0" alt=""
                                width="72">
                            <div class="flex-fill">
                                <h5 class="mt-0"> Inspiring Video Learning </h5>
                                <p class="text-muted font-size-lg"> Explore an array of curated YouTube videos aimed at
                                    inspiring creativity and skill development. These videos cover various job-related
                                    topics, offering insights and innovative perspectives to enhance your skills and
                                    spark creativity in your professional journey. </p>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
                <!-- .card -->
                <div class="card shadow" data-aos="fade-up" data-aos-delay="300">
                    <!-- .card-body -->
                    <div class="card-body p-4">
                        <div class="d-sm-flex align-items-start text-center text-sm-left">
                            <img src="../../assets/images/illustration/horse.svg" class="mr-sm-4 mb-3 mb-sm-0" alt=""
                                width="72">
                            <div class="flex-fill">
                                <h5 class="mt-0"> Simple workflow </h5>
                                <p class="text-muted font-size-lg"> We make sure you can make a magic by running just
                                    two
                                    command. It
                                    was very easy, extremely powerful, and modern. </p>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
            </div><!-- /.card-deck -->
            <!-- .card-deck -->
            <div class="card-deck-lg">
                <!-- .card -->
                <div class="card shadow" data-aos="fade-up" data-aos-delay="400">
                    <!-- .card-body -->
                    <div class="card-body p-4">
                        <div class="d-sm-flex align-items-start text-center text-sm-left">
                            <img src="../../assets/images/illustration/savings.svg" class="mr-sm-4 mb-3 mb-sm-0" alt=""
                                width="72">
                            <div class="flex-fill">
                                <h5 class="mt-0"> Premium Referral Access </h5>
                                <p class="text-muted font-size-lg"> Unlock exclusive membership benefits, offering
                                    premium access to enhanced features such as advanced job search filters, priority
                                    referral listings, and access to a broader range of job openings. Memberships
                                    provide tailored support and additional resources for a more comprehensive job
                                    referral experience. </p>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
                <!-- .card -->
                <div class="card shadow" data-aos="fade-up" data-aos-delay="500">
                    <!-- .card-body -->
                    <div class="card-body p-4">
                        <div class="d-sm-flex align-items-start text-center text-sm-left">
                            <img src="../../assets/images/illustration/document.svg" class="mr-sm-4 mb-3 mb-sm-0" alt=""
                                width="72">
                            <div class="flex-fill">
                                <h5 class="mt-0"> Supportive Community Hub </h5>
                                <p class="text-muted font-size-lg"> Engage with a supportive community and access
                                    resources to aid in your job search journey, including tips, advice, and support
                                    from experienced professionals. </p>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
            </div><!-- /.card-deck -->
        </div><!-- /.container -->
    </section><!-- /feature -->
    <!-- feature -->
    <section class="position-relative py-5 bg-light">
        <!-- .sticker -->
        <div class="sticker">
            <div class="sticker-item sticker-top-right sticker-soften translate-x-50">
                <img src="../../assets/images/decoration/bubble1.svg" alt="" data-aos="fade-left">
            </div>
        </div><!-- /.sticker -->
        <!-- .container -->
        <div class="container position-relative">
            <h2 class="text-center"> Simple pricing </h2>
            <p class="lead text-muted text-center mb-5"> Quality design and excellent support at an affordable price.
            </p>
            <!-- .row -->
            <div class="row align-items-center">
                <!-- .col -->
                <div class="col-12 col-md-5 offset-md-1 py-md-4 pr-md-0">
                    <div class="card font-size-lg shadow-lg" data-aos="fade-up">
                        <h5 class="card-header text-center text-success p-4 px-lg-5"> Standard License </h5>
                        <div class="card-body p-4 p-lg-5">
                            <h3 class="display-3 text-center">
                                <sup><small>$</small></sup>49<small><small>/app</small></small>
                            </h3>
                            <!-- <p class="text-center text-muted mb-5"> If you are a freelancer, team, or you just create an
                                app
                                for
                                your internal company, this offers is great for you. </p> -->
                            <ul class="list-icons">
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    Got High Paying Jobs
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    100% placement Assistance
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    High Paying Internship
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    Guide by Trainer
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    Combine with another works
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    Free update forever
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    24/7 support
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="https://themes.getbootstrap.com/product/looper-responsive-admin-template"
                                class="card-footer-item p-4 px-lg-5">Purchase now</a>
                        </div>
                    </div>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-12 col-md-5 py-md-4 pl-md-0">
                    <div class="card font-size-lg card-inverse bg-primary shadow" data-aos="fade-up"
                        data-aos-delay="200">
                        <h5 class="card-header text-center p-4 px-lg-5"> Extended License </h5>
                        <div class="card-body p-4 p-lg-5">
                            <h3 class="display-3 text-center">
                                <sup><small>$</small></sup>499<small><small>/app</small></small>
                            </h3>
                            <!-- <p class="text-center text-muted-light mb-5"> Build your app, sell and charge your users.
                                You
                                don't need
                                to pay us anymore. </p> -->
                            <ul class="list-icons">
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    Include all the Standar License
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span>
                                    Schedule interview based on your suitable time
                                </li>
                                <li class="mb-2 pl-1">
                                    <span class="list-icon"><img class="mr-2"
                                            src="../../assets/images/decoration/check.svg" alt="" width="16"></span> Get
                                    Specific feedback, prepare and get ready for the interview
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="https://themes.getbootstrap.com/product/looper-responsive-admin-template"
                                class="card-footer-item text-white p-4 px-lg-5">Purchase now</a>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /feature -->
    <!-- testimonials -->
    <section class="position-relative py-5 bg-light">
        <!-- .sticker -->
        <div class="sticker">
            <div class="sticker-item sticker-bottom-left sticker-soften">
                <img src="../../assets/images/decoration/bubble2.svg" alt="" data-aos="zoom-in" data-aos-delay="200">
            </div>
        </div><!-- /.sticker -->
        <!-- .container -->
        <div class="container position-relative mb-5">
            <h2 class="text-center"> You are in a good company </h2>
            <p class="text-center text-muted font-size-lg mb-5"> We are nothing without you! Thanks to all of you who
                have
                contributed in every update. </p><!-- .row -->
            <div class="row mb-6">
                <!-- .col -->
                <div class="col-12 col-md-8 offset-md-2 py-3">
                    <!-- .row -->
                    <div class="row justify-content-center text-center">
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="0">
                            <img src="../../assets/images/logo/airbnb.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="100">
                            <img src="../../assets/images/logo/amazon.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="200">
                            <img src="../../assets/images/logo/apple.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="300">
                            <img src="../../assets/images/logo/dropbox.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="400">
                            <img src="../../assets/images/logo/google.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="500">
                            <img src="../../assets/images/logo/linkedin.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="600">
                            <img src="../../assets/images/logo/paypal.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="700">
                            <img src="../../assets/images/logo/shopify.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="900">
                            <img src="../../assets/images/logo/sketch.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                        <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="1000">
                            <img src="../../assets/images/logo/slack.svg" alt="" class="img-fluid"
                                style="max-height: 32px">
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- .row -->
        </div><!-- /.container -->
    </section><!-- /testimonials -->
    <!-- call to action -->
    <section class="py-5 position-relative bg-light">
        <!-- .sticker -->
        <div class="sticker">
            <div class="sticker-item sticker-bottom-left w-100">
                <!-- wave1.svg -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                    height="120" viewbox="0 0 1440 240" preserveaspectratio="none">
                    <path class="fill-black" fill-rule="evenodd"
                        d="M1070.39 25.041c107.898 11.22 244.461 20.779 369.477 51.164L1440 240H0L.133 72.135C350.236-17.816 721.61-11.228 1070.391 25.04z">
                    </path>
                </svg>
            </div>
        </div><!-- /.sticker -->
        <!-- .container -->
        <div class="container">
            <!-- .card -->
            <div class="card bg-success text-white position-relative overflow-hidden shadow rounded-lg p-4 mb-0"
                data-aos="fade-up">
                <!-- .sticker -->
                <div class="sticker">
                    <div class="sticker-item sticker-middle-left">
                        <img class="flip-y" src="assets/images/decoration/bubble4.svg" alt="">
                    </div>
                </div><!-- /.sticker -->
                <!-- .card-body -->
                <div
                    class="card-body d-md-flex justify-content-between align-items-center text-center position-relative">
                    <h3 class="font-weight-normal mb-3 mb-md-0 mr-md-3"> Got a question about Referredx? </h3><a
                        class="btn btn-lg btn-primary shadow" href="javascript:void(0)" routerLink="/contact">Contact us
                        <i class="fa fa-angle-right ml-2"></i></a>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.container -->
    </section><!-- /call to action -->
    <!-- footer -->
    <section class="py-5 bg-black text-white">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col -->
                <div class="col-12 col-md-4 col-lg-3">
                    <p class="text-muted mb-2"> Call us on for any queries </p>
                    <address class="text-muted">
                        02269719765
                    </address><!-- Social -->
                    <ul class="list-inline mb-5 mb-md-0">
                        <li class="list-inline-item mr-3" data-aos="fade-in" data-aos-delay="0">
                            <a href="#" class="text-muted text-decoration-none" title="twitter"><img class="grayscale"
                                    src="assets/images/avatars/twitter.svg" alt="" width="24"></a>
                        </li>
                        <li class="list-inline-item mr-3" data-aos="fade-in" data-aos-delay="100">
                            <a href="#" class="text-muted text-decoration-none" title="instagram"><img class="grayscale"
                                    src="assets/images/avatars/instagram.svg" alt="" width="24"></a>
                        </li>
                        <li class="list-inline-item mr-3" data-aos="fade-in" data-aos-delay="200">
                            <a href="#" class="text-muted text-decoration-none" title="dribbble"><img class="grayscale"
                                    src="assets/images/avatars/dribbble.svg" alt="" width="24"></a>
                        </li>
                        <li class="list-inline-item mr-3" data-aos="fade-in" data-aos-delay="300">
                            <a href="#" class="text-muted text-decoration-none" title="medium"><img class="grayscale"
                                    src="assets/images/avatars/medium.svg" alt="" width="24"></a>
                        </li>
                    </ul>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-6 col-md-4 col-lg-2 mb-3 mb-md-0">
                    <!-- Heading -->
                    <h6 class="mb-4"> General </h6><!-- links -->
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a routerLink="/signup" class="text-muted">Sign up</a>
                        </li>
                        <li class="mb-3">
                            <a routerLink="/help" class="text-muted">Help-Center</a>
                        </li>
                    </ul>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-6 col-md-4 col-lg-2 mb-3 mb-md-0">
                    <!-- Heading -->
                    <h6 class="mb-4"> Support </h6><!-- links -->
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a routerLink="/privacy" class="text-muted">Privacy Policy</a>
                        </li>
                        <li class="mb-3">
                            <a routerLink="/legal" class="text-muted">Legal</a>
                        </li>
                    </ul>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-6 col-md-4 col-lg-2 mb-3 mb-md-0">
                    <!-- Heading -->
                    <h6 class="mb-4"> Help </h6><!-- links -->
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="#" class="text-muted">Help Center</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="text-muted">Documentation</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="text-muted">Technical Support</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="text-muted">FAQ</a>
                        </li>
                    </ul>
                </div><!-- /.col -->
                <!-- .col -->
                <div class="col-6 col-md-4 col-lg-2 mb-3 mb-md-0">
                    <!-- Heading -->
                    <h6 class="mb-4"> Legal </h6><!-- links -->
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a routerLink="/privacy" class="text-muted">Privacy Policy</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="text-muted">Terms of Service</a>
                        </li>
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <p class="text-muted text-center mt-5"> © 2023 Referredx, Inc. All rights reserved. </p>
        </div><!-- /.container -->
    </section><!-- /footer -->
</main><!-- /.app -->